<html>
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/flaticon.css">

    <link rel="stylesheet" href="static/css/slicknav.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/css/themify-icons.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/nice-select.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <!-- Header Start -->
   <div class="header-area">
        <div class="main-header ">
            <div class="header-top top-bg d-none d-lg-block">
               <div class="container-fluid">
                   <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex">
                                <div class="flag">
                                    <img src="static/img/icon/header_icon.png" alt="">
                                </div>
                            </div>
                            <div class="header-info-right">
                               <ul>
                                   <li><a href="{{ url_for('login') }}">My Account </a></li>
                                   <li><a href="{{ url_for('index') }}">Wish List  </a></li>
                                   <li><a href="{{ url_for('Dashboard') }}">Dashboard</a></li>

                               </ul>
                            </div>
                        </div>
                   </div>
               </div>
            </div>
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <div class="logo">
                              <a href="{{ url_for('index_page') }}"><img src="static/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{{ url_for('index_page') }}">Home</a></li>
                                        <li><a href="{{ url_for('Catagori') }}">Category</a></li>
                                        <li><a href="{{ url_for('index') }}"> Product list</a></li>
                                        <li><a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li><a href="{{ url_for('login') }}">Login</a></li>
                                                <li><a href="{{ url_for('about') }}">About</a></li>
                                                <li><a href="{{ url_for('Confirmation') }}">Confirmation</a></li>
                                                <li><a href="{{ url_for('cart') }}">Shopping Cart</a></li>
                                                <li><a href="{{ url_for('checkout') }}">My Bids</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                        <form action="/" method="post">
                                            <input type="text" name="search" placeholder="search">
                                            </form>                                            <div class="search-icon">
                                            <i class="fas fa-search special-tag"></i>
                                        </div>
                                    </div>
                                 </li>
                                <li class=" d-none d-xl-block">
                                    <div class="favorit-items">
                                        <i class="far fa-heart"></i>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-card">
                                        <a href="{{ url_for('cart') }}"><i class="fas fa-shopping-cart"></i></a>
                                    </div>
                                </li>
                               <li class="d-none d-lg-block"> <a href="{{ url_for('login') }}" class="btn header-btn">Sign in</a></li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</body>
</html>